<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pet Store</title>
  <rel link="stylesheet" type="text/css" href="/app.css"
</head>
<body>

  <h1>Pet Land Inventory</h1>
  <hr />

  <%= yield %>

</body>
</html>
