<h1>New animals</h2>

<form action="/inventory" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <br />
  <p>Price: <input type="text" name="price"></p>
  <p>Quantity: <input type="text" name="quantity"></p>
  <p>Id: <input type="text" name="id"></p>
  <input type="submit" value="Create">
  <button><a href="/inventory">Cancel</a></button>
</form>
