<h2>Search Contacts<h2>

  <form action="/contacts/search" method="POST">
    <p><input type="text" value="name"></p>
    <input type="submit" value ="Search">
    <button><a href="/contacts>">Cancel</a></button>
  </form>

<!--

contacts.each do |contact|
  contact.select { |k, v| v =~ /\b{pattern}/i }
end


-->
